header
  height: 120px
  background: linear-gradient(305deg, #dbfff3, transparent)
  
.header-container
    display: flex
    flex-direction: column
    justify-content: space-between
    padding: 30px
    max-width: 1450px
    margin: auto

.topNav
    display: flex
    justify-content: space-between
    align-items: center

    ul
        display: flex
        gap: 15px

        li
            font-weight: 600
            font-size: 20px


footer
    background-color: #333
    color: #fff
    padding: 10px
    text-align: center

main
    width: 100%
    max-width: 1250px
    margin: auto
    padding: 80px 30px
    min-height: 550px

.home-body
    display: flex
    flex-direction: column
    gap: 50px

.card
    display: flex
    flex-direction: row
    gap: 30px
    justify-content: center
    &:nth-child(even)
        direction: rtl

.content
    width: 50%


.about_us_list
    display: flex
    flex-direction: row
    gap: 15px
